<!-- Footer Area Start -->
<footer class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="footer-content d-flex align-items-center justify-content-between">
                    <!-- Copywrite Text -->
                    <div class="copywrite-text">
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | Mi Encargo
                            Pty <a href="https://colorlib.com" target="_blank"></a>
                        </p>
                    </div>
                    <!-- Footer Logo -->
                    <div class="footer-logo">
                        <a href="#"><img src="img/core-img/2x1.png" alt=""></a>
                    </div>
                    <!-- Social Info -->
                    <div class="social-info">
                        <a href="./nosotros"><i aria-hidden="true" role="link"
                                onclick="window.location='https://www.miencargopty.com/nosotros.html'">Sobre
                                Nosotros</i></a>
                        <a href="./contactos"><i aria-hidden="true" role="link"
                                onclick="window.location='https://www.miencargopty.com/contact.html'">Contacto</i></a>

                    </div>
                    <div class="social-info">
                        <a href="#"><i class="ti-facebook" aria-hidden="true"
                                onclick="window.location='https://www.facebook.com/Mi-Encargo-Pty-106987327518285/?view_public_for=106987327518285'"></i></a>
                        <a href="#"><i class="ti-instagram" aria-hidden="true" role="link"
                                onclick="window.location='https://www.instagram.com/miencargopty/'"></i></a>
                        <a href="#"><i class="ti-whatsapp-alt" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Area End -->

{{!-- scripts --}}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
