<nav id="menu" class="navbar navbar-expand-lg navbar-dark bg-dark navbar-toggleable-md fixed-top">
  <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
    aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="nav-brand" href="./">
    <img src="img/core-img/3x2_blanco.png" alt="fallo">
  </a>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <div class="navbar-nav ml-auto text-left">
      <a class="nav-item nav-link" href="/">Inicio</a>
      <a class="nav-item nav-link" href="./registro">Registro</a>
      <a class="nav-item nav-link" href="./tarifas">Tarifas</a>
      <a class="nav-item nav-link" href="./casillero">Recuperar casillero</a>
      <a class="nav-item nav-link" href="./rastreo">Rastreo</a>
      <a class="nav-item nav-link" href="./calculadora">Calculadora</a>
      <a class="nav-item nav-link" href="./pagos">Pagos Online</a>
    </div>
  </div>
</nav>