<div class="container">
    <div class="row">
        <div id="fondo" class="col-lg-12 text-center">
            <img src="/img/bg-img/banner9.png" alt="logo">
        </div>
    </div>
</div>

<div class="container h-100">
    <div class="row h-100 align-items-center">
        <div class="col-12">
            <div class="breadcrumb-content text-center">
                <h2 class="page-title">Calculadora de volumen</h2>
                <legend class="page-title">Con nuestra web puedes verificar cuanto volúmen exactamente tiene tu carga.
                </legend>
                <nav aria-label="breadcrumb">

                </nav>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <div class="contact">
                    <form class="form-horizontal" accept-charset="utf-8">
                        <article class="calculadora">
                            <p>El cálculo del peso volumétrico consiste en determinar el espacio que ocupa un artículo y
                                llevar este espacio a medidas mas fácil de entender como Libras, Kilos, Piés Cúbicos y
                                Metros Cúbicos.</p>
                            <p>Para conocer el peso volumétrico de un paquete solo debes ingresar las dimensiones Alto,
                                Ancho, Largo de tu paquete y nuestra calculadora te indicará todos los volúmenes que
                                desees conocer.</p>
                            <br>
                            <br>
                          <div class="calc-box">
                                    <div class="input-group">
                                        <input id="largo" class="form-control1" required placeholder="Largo" aria-label="Largo" type="number" style="font-weight: bold; color: rgb(9, 219, 202);">
                                        <div class="input-group-append">
                                            <span class="input-group-text" id="cm-01">Pulgadas</span>
                                        </div>
                                    </div>
                                    <div class="input-group">
                                        <input id="ancho" class="form-control1" required placeholder="Ancho" aria-label="Ancho" type="number" style="font-weight: bold; color: rgb(9, 219, 202);">
                                        <div class="input-group-append">
                                            <span class="input-group-text" id="cm-02">Pulgadas</span>
                                        </div>
                                    </div>
                                    <div class="input-group">
                                        <input id="alto" class="form-control1" required placeholder="Alto" aria-label="Alto" type="number" style="font-weight: bold; color: rgb(9, 219, 202);" >
                                        <div class="input-group-append">
                                            <span class="input-group-text" id="cm-03">Pulgadas</span>
                                        </div>
                                    </div>
                                    <div class="input-group">
                                        <input id="peso" class="form-control1" placeholder="Peso" aria-label="Peso" type="number" style="font-weight: bold; color: rgb(9, 219, 202);">
                                        <div class="input-group-append">
                                            <span class="input-group-text" id="cm-01">Kg</span>
                                        </div>
                                    </div>
                                    <div class="input-group">
                                        <input id="cantidad" class="form-control1" required placeholder="Cantidad de Cajas" aria-label="Cantidad de Cajas" type="number" style="font-weight: bold; color: rgb(9, 219, 202);" >
                                        <div class="input-group-append">
                                        </div>
                                    </div>
                                    <br>
                                    <br>   
                                   <a id="calc-pv-btn" type="submit" title="Calcular peso volumétrico" href="#"  class="btn btn-outline-primary btn-lg">Calcular peso volumétrico</a>
                                    <div class="calc-box">
                                        <div class="form-group pv-result">
                                         <label class="control-label"></label>
                                             <div class="input-group">
                                                <input id="resultado" class="form-control1" readonly="" type="text" value="0" style="font-weight: bold; color: rgb(9, 219, 202);">
                                                  <div class="input-group-append">
                                                 <span class="input-group-text" id="cm-01">Libras Volumen</span>
                                        </div>
                                    </div>        
                                    <div class="input-group">
                                        <input id="resultadokg" class="form-control1" readonly="" type="text" value="0" style="font-weight: bold; color: rgb(9, 219, 202);">
                                        <div class="input-group-append">
                                            <span class="input-group-text" id="cm-01">Kg Volumen</span>
                                        </div>
                                    </div>  
                                    <div class="input-group">
                                        <input id="resultadopie" class="form-control1" readonly="" type="text" value="0" style="font-weight: bold; color: rgb(9, 219, 202);">
                                        <div class="input-group-append">
                                            <span class="input-group-text" id="cm-01">Pié Cúbicos</span>
                                        </div>
                                    </div> 
                                    <div class="input-group">
                                        <input id="resultadomt" class="form-control1" readonly="" type="text" value="0" style="font-weight: bold; color: rgb(9, 219, 202);">
                                        <div class="input-group-append">
                                            <span class="input-group-text" id="cm-01">Metros Cúbicos</span>
                                        </div>
                                    </div> 
                                    <div class="input-group">
                                        <input id="libras" class="form-control1" readonly="" type="text" value="0" style="font-weight: bold; color: rgb(9, 219, 202);">
                                            <span class="input-group-text" id="cm-01">Libras Físicas</span>
                                             </div>
                                         </div> 
                                    </div>
                                </div>
                            </div>
                            <div class=" foto2">
                                    <div >
                                        <img class="mb-10" src="img/bg-img/caja1.png" alt="">
                                    </div>
                                </div>
                     </article>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> 