<div class="container">
    <div class="row">
        <div id="fondo" class="col-lg-12 text-center">
            <img src="/img/bg-img/banner6.png" alt="logo">
        </div>
    </div>
</div>

<div class="container h-100">
    <div class="row h-100 align-items-center">
        <div class="col-12">
            <div class="breadcrumb-content text-center">
                <h2 class="page-title">NUESTRAS TARIFAS</h2>
                <nav aria-label="breadcrumb">

                </nav>
            </div>
        </div>
    </div>
</div>

<!-- Blog Details Area Start -->
<div class="alime--blog-area section-padding-80">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <!-- Blog Details Text -->
                <div class="blog-details-text">
                    <p>Somos una empresa que se especializa en ofrecer servicios de envíos internacionales, con rutas:
                    </p>
                    <li>Envíos Estados Unidos a Panamá.</li>
                    <li>Envíos Panamá a Colombia.</li>
                    <li>Envíos Panamá a Ecuador.</li>
                    <li>Envios Panamá a Nicaragua.</li>
                    <li>Envios Panamá a España.</li>
                    <li>Envios Panamá a Costa Rica.</li>
                    <li>Envios Panamá al Mundo.</li>
                    <p>Con envios tanto courrier como puerta a puerta aéreos y marítimos, dependiendo de tu necesidad y
                        comodidad contáctanos y conoce más sobre nosotros sin ningún compromiso.</p>
                    <div class="my-5">
                        <div class="row">
                            <div class="col-12 col-lg-8">
                                <div class="row">
                                    <div class="col-12 col-sm-6">
                                        <img class="mb-10" src="img/bg-img/avion.jpg" alt="">
                                    </div>
                                    <div class="col-12 col-sm-6">
                                        <img class="mb-10" src="img/bg-img/avion2.jpg" alt="">
                                    </div>
                                    <div class="col-12">
                                        <img class="mb-10" src="img/bg-img/buque2.jpg" alt="">
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    </div>

                    <p>En Mi Encargo PTY nos especializamos en brindar un sercivio óptimo y de calidad con una amplia
                        variedad de servicios,
                        además también ofrecemos el servicio de compras por internet o compras online, en el cual
                        nosotros realizamos la compra por ti, ofreciendote asi un servicio en el que sentirás total
                        comodidad.
                    </p>

                    <p>Con nestro servicio puerta a puerta te sentirás despreocupado ya que nos encargamos de realizar
                        el envio desde su origen hasta la puerta de tu hogar incluyendo todos los trámites de aduana</p>

                    <p></p>

                    <!-- Blockquote -->
                    <blockquote class="alime-blockquote">
                        <h4>Realiza tus cotizaciones con nosotros y sorpréndete del servicio y los excelentes precios
                        </h4>
                        <h6>- Mi Encargo PTY</h6>
                    </blockquote>

                    <p>Y si lo que buscas es un servicio DHL al mejor precio tambien podemos ayudarte a ubicar la mejor
                        cotización que DHL puede ofrecer.</p>

                </div>
            </div>
        </div>
    </div>
</div>