<div class="container">
    <div class="row">
        <div id="fondo" class="col-lg-12 text-center">
            <img src="/img/bg-img/banner8.png" alt="logo">
        </div>
    </div>
</div>

<div class="container h-100">
    <div class="row h-100 align-items-center">
        <div class="col-12">
            <div class="breadcrumb-content text-center">
                <h2 class="page-title">Recibimos tu pago Online.</h2>
                <nav aria-label="breadcrumb">
                </nav>
                <br>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row ">
        <div class="col-md-12">
            <div class="well well-sm">
                <form class="form-horizontal" method="post" accept-charset="utf-8">
                    <legend class="text header">Para realizar tu pago mediante PayPal solo debes seguir estos pasos:
                    </legend>
                    <legend class="text header">1. Colocar tu numero de factura.</legend>
                    <legend class="text header">2. Dar Click en el Botón Pagar Ahora.</legend>
                    <legend class="text header">3. Esto te llevará a la opción de pago donde debes cancelar el importe
                        total de tu factura.</legend>
                    <legend class="text header"> y Listo! así de ráido, así de fácil.</legend>
                </form>
                <blockquote class="alime-blockquote">
                    <form class="form-horizontal" action="https://www.paypal.com/cgi-bin/webscr" method="post"
                        target="_top">
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="DXAL458HHQAZA">
                        <table style="text-align:center" class="table-center" align="left">
                            <tr>
                                <td><input type="hidden" name="on0" value="Indica tu número de factura" required >Indica tu número
                                    de factura:</td>
                            </tr>
                            <tr>
                                <td><input type="text" name="os0" maxlength="200"></td>
                            </tr>
                        </table>
                        <br>
                        <input type="image" src="https://www.paypalobjects.com/es_ES/ES/i/btn/btn_paynowCC_LG.gif"
                            border="0" name="submit" alt="PayPal, la forma rápida y segura de pagar en Internet.">
                        <img alt="" border="5" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="3"
                            height="3">
                        <br>
                    </form>
                </blockquote>
            </div>
        </div>
    </div>
</div>