<div class="container">
    <div class="row">
        <div id="fondo" class="col-lg-12 text-center">
            <img src="/img/bg-img/banner2.png" alt="logo">
        </div>
    </div>
</div>
 <script src='https://www.google.com/recaptcha/api.js?hl=es'></script>
<div class="container h-100">
    <div class="row h-100 align-items-center">
        <div class="col-12">
            <div class="breadcrumb-content text-center">
                <h2 class="page-title">Regístrate</h2>
                <nav aria-label="breadcrumb">

                </nav>
            </div>
        </div>
    </div>
</div>

{<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="">
                <div class="card-body">
                    <form class="form-horizontal" action="/sent-email" method="POST">
                        <fieldset>
                            <legend class="text-center">
                                Solo llena estos sencillos campos, acepta los terminos y
                                condiciones y obtén tu casillero gratuito.
                            </legend>
                            <div class="form-group">
                                <span class="col-md-1 col-md-offset-2 text-center">
                                    <i class="fa fa-user bigicon"></i>
                                </span>
                                <div class="col-md-8">
                                    <input type="text" name="nombre" placeholder="Nombre" class="form-control" autofocus
                                        required>
                                </div>
                            </div>
                            <div class="form-group">
                                <span class="col-md-1 col-md-offset-2 text-center">
                                    <i class="fa fa-user bigicon"></i>
                                </span>
                                <div class="col-md-8">
                                    <input type="text" name="apellido" placeholder="Apellido" class="form-control"
                                        autofocus required>
                                </div>
                            </div>
                            <div class="form-group">
                                <span class="col-md-1 col-md-offset-2 text-center">
                                    <i class="fa fa-bookmark bigicon"></i>
                                </span>
                                <div class="col-md-8">
                                    <input type="text" name="cedula" placeholder="Cedula" class="form-control" autofocus
                                        required>
                                </div>
                            </div>
                            <div class="form-group">
                                <span class="col-md-1 col-md-offset-2 text-center">
                                    <i class="fa fa-pencil-square-o bigicon"></i>Fecha de Nacimiento
                                </span>
                                <div class="col-md-8">
                                    <input type="date" name="fecha_de_nacimiento" placeholder="Fecha de Nacimiento"
                                        class="form-control" autofocus required>
                                </div>
                            </div>
                            <div class="form-group">
                                <span class="col-md-1 col-md-offset-2 text-center">
                                    <i class="fa fa-envelope-o bigicon"></i>
                                </span>
                                <div class="col-md-8">
                                    <input type="email" name="email" placeholder="Correo" class="form-control" autofocus
                                        required>
                                </div>
                            </div>
                            <div class="form-group">
                                <span class="col-md-1 col-md-offset-2 text-center">
                                    <i class="fa fa-phone-square bigicon"></i></span>
                                <div class="col-md-8">
                                    <input type="text" name="celular" placeholder="Celular" class="form-control"
                                        autofocus required>
                                </div>
                            </div>
                            <div class="form-group">
                                <span class="col-md-1 col-md-offset-2 text-center">
                                    <i class="fa fa-user bigicon"></i></span>
                                <div class="col-md-8">
                                    <input type="text" name="direccion" placeholder="Direccion" class="form-control"
                                        autofocus required>
                                </div>
                            </div>
                            <div class="form-group">
                                <span class="col-md-1 col-md-offset-2 text-center">
                                    <i class="fa fa-crosshairs bigicon"></i></span>
                                <div class="col-md-8">
                                    <input type="text" name="pais" placeholder="Pais" class="form-control" autofocus
                                        required>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-8">
                                    <input type="checkbox" name="terminos" value="1" required>
                                    <a id="btn-abrir-popup" class="btn-abrir-popup" href="./terminos" target="_blank">
                                        Acepto los
                                        Términos y Condiciones
                                    </a>
                                </div>
                            </div>
                              <div class="g-recaptcha" data-sitekey="6LcF8rIZAAAAALqNUE2Vqyy2VQfEoEpvkd2zKuiR" required></div><br/>
                                    <div class="form-group">
                                        <div class="col-md-12 text-center">
                                          <input class="btn btn-outline-primary btn-lg" name="submit" type="submit" value="Registrar">
                                    </div>
                                 </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>