<div class="container">
    <div class="row">
        <div id="fondo" class="col-lg-12 text-center">
            <img src="/img/bg-img/banner4.png" alt="logo">
        </div>
    </div>
</div>

<div class="container h-100">
    <div class="row h-100 align-items-center">
        <div class="col-12">
            <div class="breadcrumb-content text-center">
                <h2 class="page-title">NUESTRAS TARIFAS</h2>
                <nav aria-label="breadcrumb">

                </nav>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="well well-sm">
                <div class="contact">
                    <form class="form-horizontal" accept-charset="utf-8">
                        <p>ENVIOS AÉREOS MIAMI-PANAMÁ</p>
                        <p>Vuelos Diarios de lunes a viernes, con entregas en 3 días hábiles UPS, FEDEX, DHL (USPS 3-4
                            días
                            hábiles)
                        </p>
                        <p|>3.00$ por libra.</p>
                            <p>NO COBRAMOS PESO VOLUMÉTRICO.
                                Y NO COBRAMOS MINIMO.
                            </p>
                            <p>Ofrecemos servicios de entrega a domicilio con costos adicinionales sumamente bajos. </p>

                            <hr style="border-color:rgb(18, 204, 250);">
                            <p>ENVIOS MARÍTIMOS MIAMI-PANAMÁ </p>
                            <p>Entregas de 8 a 15 días hábiles, 1 salida por semana.</p>
                            <p>Costo promedio 15.00$ el Pié Cúbico(ft3)</p>
                            <p>Para este servicio solo tomamos en cuenta el Volúmen de la carga y no su peso físico,
                                tambien
                                existe un mínimo para el servicio marítimo </p>
                            <p>Por lo que para hacer uso de este servicio te recomendamos siempre primero consultar y
                                solicitarnos
                                la cotización para brindarte la mejor asistencia.
                            </p>

                            <p>Cumplimos con todas las normas de seguriad sanitaria para las entregas a domicilio.</p>
                            <p>TODOS NUESTROS SERVICIOS DESDE MIAMI A PANAMÁ YA INCLUYEN LOS IMPUESTOS Y TRÁMITES DE
                                ADUANA
                                EN
                                PANAMÁ. </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="two-columns">
    <img class="two-columns" src="/img/bg-img/ico-aereo.png" alt="" width="10" height="10">

    <img class="two-columns" src="/img/bg-img/ico-maritimo.png" alt="" width="10" height="10">
</div>

<!-- Breadcrumb Area End -->

<!-- Follow Area Start -->
<div class="follow-area clearfix">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center">
                    <br></br>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Follow Area End -->