<div class="container">
    <br>
    <br>
    <h2>Términos y Condiciones de un envío (Para Envíos Currier)</h2>
    <p>Guía Aérea y marítima Clausura y Obligaciones de embalaje:

        Todos los envíos están sujetos a verificación de peso y medidas por Mi Encargo PTY, y usted acepta todos los
        cambios de peso sin o con previo aviso. Adicionalmente, todos los cargos se basan en normas volumétricas o peso
        físico de acuerdo del embalaje de una carga o paquete, por lo que, cuando el peso dimensional excede el peso
        real, el peso dimensional se utiliza para determinar cargos fijos o variable según la modalidad del envío o
        destino.</p>

    <h2>Limitación de Responsabilidad:</h2>
    <p>En consideración de los gastos de transporte para el movimiento de cualquier envío, se ha acordado que la
        responsabilidad de la compañía se limitará, en todo caso, a la suma más baja en USA. $ 100.00 USD o el valor
        real de los documentos o envío (si se asegura), a menos que declarar un valor más alto en esta cobertura de
        seguro de carta de porte aéreo o guía aérea y el adicional contratado y pagado por adelantado. Valor real se
        determinará en el momento y el lugar, nuestra compañía acepta el envío y deberá excluir cualquier valor especial
        al expedidor o de cualquier otra persona. El valor real de los documentos para la exportación o valor declarado
        será el costo de reemplazar. El valor real de los paquetes será el menor entre el costo de reparar o reemplazar
        el contenido o la reventa de la o el valor justo de mercado de la parcela. El Convenio de Varsovia puede limitar
        aún más nuestra responsabilidad.</p>
    <h2>Responsabilidades no asumidas:</h2>
    <p>Haremos todos los esfuerzos razonables para entregar su envío de acuerdo con nuestros plazos de entrega
        regulares, sin embargo, nuestra compañía no es responsable de los retrasos en la entrega, daños y perjuicios de
        cualquier tipo (ya sean directos, indirectos, incidentales, especiales o Resultantes) incluyendo pero no
        limitado a la pérdida de ingresos, pérdida de interés, pérdida de oportunidad de negocio, pérdida de uso de los
        contenidos, el incumplimiento de otros contratos, o cualquier pérdida o daño causado por la propia naturaleza de
        los bienes, si podemos o no tenían conocimiento que tal daño se pudiera incurrir, incluso si el retraso es culpa
        nuestra, en recoger el Envío, el transporte del envío, o la entrega del envío. Nuestra compañía no será
        responsable por sus actos u omisiones, incluyendo pero no limitado a una declaración incorrecta o de mercancías,
        embalaje inadecuado o insuficiente y marcado o dirección del envío, o por actos u omisiones por parte de la
        expedidor o el destinatario o cualquier otra persona con un interés en el envío. </p>
    <p>Asimismo, nuestra compañía no será responsable si usted o el destinatario viola cualquiera de los términos de
        nuestro acuerdo. Nuestra compañía no será responsable por la pérdida o el daño a los envíos de dinero en
        efectivo, moneda, instrumentos de seguridad, u otros artículos prohibidos. Nuestra compañía no acepta el envío
        de dinero en efectivo, moneda u otra garantía instrumentos, productos perecederos, los metales preciosos o
        piedras preciosas. Nuestra compañía no será responsable por daños eléctricos o magnéticos que, o el borrado de
        las imágenes electrónicas o fotográficas o grabaciones. Asimismo, el Nuestra compañía no se hace responsable de
        la pérdida de un envío, daños en un envío o retraso causado por eventos que no podemos controlar, incluyendo
        pero no limitado a actos de Dios, "Fuerza mayor ", los actos de otra compañía o de un tercero con quien
        contrato, o la acción u omisión de cualquier gobierno o una autoridad pública (incluyendo pero no limitado a las
        costumbres, los funcionarios de salud o de las administraciones postales), u omisión de Cualquier fuera de
        nuestra compañía. Mi Encargo PTY se reserva el derecho, sin admitir responsabilidad, a reembolsar los gastos de
        transporte a su entera discreción, pero es no está obligado a hacerlo.</p>
    <h2>Ausencia de garantías:</h2>
    <p>Nosotros no hacemos ninguna garantía, expresa o implícita.</p>
    <p> Mi Encargo PTY no es responsable de ningún tipo de garantía de productos o equipos comprados a proveedores ya
        que nuestra empresa solo se limita a la recepción y envíos en las misma condición que es recibida por el
        proveedor atreves de la empresa que use como tal para que llegue a nuestras oficinas en
        EEUU-China-Panamá-Colombia-CostaRica-México.
        Nuestra empresa no removerá de su empaque original ninguna carga por motivos de seguridad de la misma y así la
        empresa queda exenta de responsabilidad en caso de que el vendedor de la misma envié algo diferente o cantidad
        diferente a lo que el cliente le haya comprado.</p>
    <p>
        Mi Encargo PTY no es responsable de daños o defectos de origen del producto o mercancía comprado a un proveedor,
        adicional las páginas web que aparecen en nuestro web site de ventas de artículos en todas sus formas son
        alianzas estratégicas con empresas de ventas en los estados unidos de América y por ende son ellos los
        responsable de cualquier garantía del producto comprado si es el caso atreves de nuestra página web.</p>
    <p>Mi Encargo PTY no se hace responsable de ningún tipo de retrasos por empresas de transporte utilizadas para él
        envió de su carga o paquetería sea vía aérea o marítima en cualquier parte del mundo o por retenciones que se
        origine por cualquier autoridad en el pais de origen o el pais de destino donde salga o llegue la carga.</p>
    <p>No somos responsables por retrasos originados por puertos y aeropuertos o por condiciones adversas a nuestro
        control
    <p>Mi Encargo PTY no es transportador aéreo ni marítimo en los términos de la Convención de Varsovia de 1929 y
        posteriores tratados internacionales y sólo actúa como agente de sus Usuarios, consignando la mercadería en
        líneas aéreas o marítimas para su transporte. Ello no enerva el derecho de Mi Encargo PTY a percibir
        indemnizaciones de cualquier línea aérea o naviera por pérdida, daño o gasto en que incurra la misma o alguno de
        sus Usuarios, cuyos derechos se subrogan a su favor, con la expresa conformidad de los mismos.</p>
    <p>Mi Encargo PTY se reserva el cambio de sus tarifas sin previa notificación. </p>
    <p>Los cobros de él envió de su carga o paquetería será cobrado en la moneda de curso legal del país en destino, no
        tenemos cambios ni diferenciales cambiarios.</p>
    <p>Toda carga asegurada será cancelada en la moneda oficial del el país de destino de la mismas y si existiesen
        controles cambiarios a la misma será cancelado según regulación gubernamental del país de destino final.</p>
    <p>Mi Encargo PTY es una empresa ubicada en Panamá y usted acepta términos y condiciones al enviar su carga.
        En los países donde no tenemos presencia la carga se entregara en oficinas o empresas de transporte que se
        utilice en el país de destino final de la misma con la cual tenemos alianzas comerciales mas no tienen ningún
        tipo de responsabilidad para los efectos de reclamos ya que las mimas solo se limitan a la entrega de la misma
        previa autorización por parte de nuestros clientes.</p>
    <p>Mi Encargo PTY queda exenta de todo tipo de responsabilidad una vez que su carga sea enviada por cualquier
        empresa de envió interno dentro del país de destino final si así fuese el caso y si usted autoriza el mismo por
        vía escrita por correo electrónico, ya que dicha empresa externa cubrirá con su póliza de seguro todo siniestro
        ocurrido a la misma previa contratación por parte del cliente.</p>
    <p>El usuario acepta nuestros términos y condiciones una vez se registre en nuestra página web y envié su carga o
        paquetería con la empresa Mi Encargo PTY.</p>
    <p>El presente convenio tiene vigencia por un año, siendo renovado en forma automática a su vencimiento de no mediar
        notificación por escrito por parte del Usuario, con treinta (30) días de antelación al vencimiento del mismo.
        Asimismo, este convenio podrá ser rescindido por cualquiera de las partes con previo aviso por escrito con
        treinta (30) días de antelación. Si la rescisión se produjera por parte del Usuario.</p>
    <p>Toda carga que permanezca más de 15 días continuos en nuestro almacén luego de haber notificado por vía correo
        electrónico y vía telefónica y mensajería de texto tendrá un cobro de 85 USD dólar por guía generada de ingreso
        de cada carga por tracking y el resto de los países el costo es el dólares americano por guía generada mensual y
        al segundo mes la carga no podrá ser reclamada por parte del usuario ya que se tomara como parte de pago de los
        gastos generados de servicios de recepción y almacenaje de la misma.</p>
    <p>Los reclamos de los Usuarios por demora, pérdida, falta de entrega o no entrega deberán efectuarse por escrito
        atreves de nuestra página web sección de reclamos dentro de los diez (13) días siguientes a la fecha de
        recepción en las oficinas de Miami, Laredo, panamá, guanzou (china). Transcurrido ese tiempo, no podrá
        efectuarse ya ningún reclamo. No se considerará ningún reclamo hasta que hayan sido pagados todos los gastos de
        transporte. El monto relacionado o expuesto en cualquiera de dichos reclamos no podrá ser deducido de los gastos
        de transporte adeudados a Mi Encargo PTY.</p>
    <p>Mi Encargo PTY se reserva el derecho a inspeccionar la paquetería y/o mercadería entregada para sus Usuarios a
        fin de determinar si cumplen las regulaciones nacionales e internacionales vigentes, así como las Condiciones
        Generales de Transporte. La inspección no garantiza que el envío sea susceptible de ingresar a otro país sin
        infringir las normas aduaneras vigentes en ese territorio o en otros que deba atravesar para ser transportado al
        destino.</p>
    <p>Todo envío que sea considerado carga peligrosa o inflamable se podrá enviar cumpliendo con los permisos
        establecidos para el transporte del mismo.</p>
    <p>En el supuesto que fuere entregado algún envío conteniendo mercaderías y/o materiales cuyo transporte Mi Encargo
        PTY no realiza, el Usuario quedará obligado a asumir todos los gastos por los daños y perjuicios ocasionados
        además de los derivados de cualquier reclamación o sanción pública o privada que pueda resultar como
        consecuencia de este hecho. Asimismo, Mi Encargo PTY tendrá derecho a abandonar inmediatamente el transporte de
        un envío al tener conocimiento que infringe estas cláusulas y/o las regulaciones nacionales o internacionales
        vigentes, sin responsabilidad alguna por su pérdida o deterioro total o parcial.</p>
    <p>Mi Encargo PTY se reserva el derecho a negar el transporte de mercadería de cualquier naturaleza y a cualquier
        persona, firma o compañía a su sola discreción. Serán transportados únicamente documentos y envíos que cumplan
        lo dispuesto en los convenios postales internacionales, en las Condiciones Generales de Transporte y en
        legislación nacional o internacional aplicable al caso.</p>
    El Usuario autoriza a Mi Encargo PTY a cargar en su Tarjeta de Crédito o por cualquier otro medio de pago aceptado,
    todos los cargos generados por el servicio, las entregas especiales, etc., así como también los cargos por peso
    transportado de acuerdo a la tarifa vigente. Todos los cargos señalados, así como los adicionales establecidos o a
    establecerse serán responsabilidad del Usuario y de acuerdo a sus instrucciones serán cargados a su Tarjeta de
    Crédito o liquidados mediante cualquier otro medio para el pago, si el caso lo a merite.</p>
    <h2>Referentes a Compras por Internet realizada por Nuestra empresas a los clientes: </h2>
    <p>1. Mi Encargo PTY solo gestionara la compra por parte del cliente este una vez envié en el formulario de
        cotización o por correo electrónico el link de compra de la página web indicando la cantidad y descripción del
        mismo y con previa verificación.</p>
    <p>2. En caso de que el producto comprado por Internet con las especificaciones dadas por el cliente a Mi Encargo
        PTY al llegar cualquier pais donde sea enviada no sea el que el cliente esperaba el mismo debe escribir a el
        vendedor de la página donde se compró realizando el reclamo y deberá solicitar al vendedor una etiqueta de
        retorno la cual será desde nuestro almacén en Miami florida y el cliente será responsable del envió de retorno a
        usa a nuestro almacén y el mismo correrá con los gastos originados para ese envió y Mi Encargo PTY le
        proporcionara las mejores tarifas para realizar el envió con sus alianzas comerciales que mantenga para dicho
        evento.</p>
    <p>3. Todo envió que se genere una vez el cliente haya formulado su reclamo a la empresa que le realizó la venta y
        la misma llegue a nuestras oficinas de Miami el cliente tendrá que pagar nuevamente el envio a el pais de
        destino final y Mi Encargo PTY dará una tarifa preferencial para tal caso, con acuerdo con el cliente final.</p>
    <p>4. En caso de que la empresa genere una compra para el cliente no tendrá bajo ningún concepto responsabilidad en
        la garantías del producto en caso de tener defectos ya que la empresa solo actúa como agente de compras y la
        misma no fabrica no ensambla ni vende nada, solo actuamos como intermediarios de la compra.</p>
    <p>5. Mi Encargo PTY tampoco será responsable de el transporte interno que use la empresa donde se genera la compra
        en caso de no enviar la misma por empresas con envió certificado como ups, dhl, fedex, tb, tnt, airbond, si el
        mismo es enviado por el correo de los estados unidos usps y no es certificado no tendremos responsabilidad de
        ninguna índole.</p>
    <p>6. En caso de extravió de su compra antes de llegar a nuestro almacén de Miami fl el cliente debe generar su
        reclamo ante la empresa a la cual se genera la compra ya que Mi Encargo PTY comprara en su nombre con su número
        de registro con nosotros para que puede gestionar cualquier reclamo ante dicha empresa de ventas en caso del
        cliente no saber hacerlo trataremos en lo posible de poder ayudarle dentro de nuestras posibilidades y
        limitaciones. </p>
    <h2> Gastos originados por la nacionalización de ingreso de productos a Panamá o al mundo.</h2>
    <p>En caso de que cualquier producto genere por cualquier causa gastos aduanales o requiera de algún permiso para su
        ingreso al país, el cliente tendrá que tener sus permisos de ingreso y generar el pago de los impuestos de ley
        en caso de que se generen a Mi Encargo PTY actuara en su nombre para sacar y gestionar la salida del mismo una
        vez el cliente realice el pago a nuestra empresa en los tiempos indicados y todo retraso o almacenaje o gastos
        adicionales que se genere por párte del cliente por el retraso de no pago a la fecha, el cliente será
        responsable de todos los gastos adicionales que se generen y exime de toda responsabilidad a la empresa.</p>
</div>